* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(33, 33, 33, 1);
  display: flex;
  align-items: center;
  z-index: 1000;
}
.nav-item {
  display: flex;
  align-items: center;
  font-size: x-large;
  color: #ffffff;
  padding: 5px 16px 5px 30px;
  text-decoration: none;
}
.nav-item img {
  padding-right: 10px;
}
.home-container {
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
}
.home-container img {
  width: 100%;
  height: 100%; /* Added to ensure image fills container */
  object-fit: cover; /* Ensures the image covers the entire container */
}
.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}
.banner {
  display: flex;
  padding: 40px 70px;
}
.banner-container {
  display: flex;
}
.banner-text {
  width: 59%;
  line-height: 120px;
  padding: 10px 20px;
  margin-right: 100px;
}
.your-kitchen {
  font-size: 40px;
  font-family: "Caveat", Arial;
  font-weight: 500;
  vertical-align: baseline;
}
.banner-title {
  font-size: 60px;
  font-weight: bold;
}
.banner-desc {
  line-height: normal;
  font-size: 30px;
  margin-top: 20px;
}
.banner-img-container {
  width: 41%;
}

.banner button {
  background-color: rgba(30, 108, 147, 1);
  padding: 15px;
  width: 100%;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0;
  font-size: 20px;
  cursor: pointer;
}
.recipes-container {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 20px;
}
.recipes {
  width: 33.33%;
  padding: 0 20px;
}
.recipes-title1 {
  color: #ff0000;
  margin-top: 30px;
}
.recipes-title2 {
  margin-top: 30px;
}

.recipes-desc-container {
  padding-left: 20px;
}
.recipes-desc {
  list-style-type: square;
  margin-top: 30px;
  line-height: 60px;
  font-size: 25px;
  /* margin-left: 6px; */
}
.recipes-desc li {
  margin-left: 6px;
}

.categories-container {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.categories-title {
  /* width: 100%; */
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
.categories-items {
  display: flex;
}
.categories-item {
  width: 33.33%;
  padding: 0 20px;
  text-align: center;
  /* font-size: 40px; */
  color: rgba(34, 110, 147, 1);
}
.categories-item h1 {
  margin-top: 20px;
}
.disclaimer {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.disclaimer p {
  padding: 8px;
  font-size: 20px;
}

@media (max-width: 600px) {
  .home-text {
    font-size: 50px;
  }
  .banner {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
  }
  .banner-title {
    font-size: 50px;
    font-weight: bold;
  }
  .banner-text {
    width: 100%;
    line-height: 80px;
    padding: 10px 20px;
    margin-right: 50px;
  }
  .banner button {
    margin-top: 30px;
  }
  .banner-img-container {
    width: 100%;
    margin-top: 30px;
  }
  .recipes-container {
    display: flex;
    flex-direction: column;
  }
  .recipes {
    width: 100%;
  }
  .categories-items {
    display: flex;
    flex-direction: column;
  }
  .categories-item {
    width: 100%;
    margin: 20px 0;
  }
}
/* @media (max-width: 991px) {
  .image-container img {
    height: 700px;
  }
  .text {
    font-size: 30px;
    width: 400px;
  }
} */
